.diagram {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #002868;
  position: relative;
}

.section {
  position: absolute;
  width: 50%;
  height: 50%;
  text-align: center;
  color: white;
}

/* Estilos para cada sección, ajustando la posición y el contenido */
.section:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* ... otros estilos */
}
.section:nth-child(2) {
  top: 0;
  left: 0%;
  transform: translateX(50%);
}
