@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  @apply bg-primary;
}

@keyframes showLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes show {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.scroll-animated-show-left {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: showLeft;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.scroll-animated-show {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 10% cover 30%;
  animation-fill-mode: both;
}
@keyframes trans-x-right {
  from {
    transform: translateX(50px);
    opacity: 0; /* Opcional para desvanecimiento */
  }
  to {
    transform: translateX(0px);
    opacity: 1; /* Opcional para desvanecimiento */
  }
}

.animated-enter-right {
  animation: trans-x-right 0.5s ease-out;
}
@keyframes trans-x-left {
  from {
    transform: translateX(-50px);
    opacity: 0; /* Opcional para desvanecimiento */
  }
  to {
    transform: translateX(0px);
    opacity: 1; /* Opcional para desvanecimiento */
  }
}

.animated-enter-left {
  animation: trans-x-left 0.5s ease-out;
}
